:root {
  font: 16px / 1 bitter;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.app {
  padding: 2rem;
  border: double 5px rgb(49, 49, 9);
  border-radius: 0.5rem;
  background-color: rgba(241, 167, 207, 0.3);
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-shadow: 3px 3px whitesmoke;
  background-color: rgba(184, 187, 185, 0.3);
  padding: 1rem;
}

.color-box {
  height: 3rem;
  width: 3rem;
  border: solid 5px rgb(241, 241, 216);
}

.color-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-history {
  padding-left: 0;
  list-style: none;
}

.color-data {
  list-style: none;
  background-image: url('../src/resources/heart.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  background-color: whitesmoke;
  margin: 0;
  padding: 18px 0 18px 33px;
}

.slider {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.button-list {
  display: flex;
}

.button {
  margin: 0.2rem;
}
